<main>
  <h1 class="title">Welcome to Cafeteria</h1>
  <section class="btns">
    <button class="btn"><%= link_to "Sign up", new_user_path %></button>
    <button class="btn"><%= link_to "Log In" %></button>
  </section>
</main>
